.hero-bg{
  width: 100vw;
  height: 352px;
  background-image: url(../images/bg_hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero{
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero h1{
  font-size: 3.25rem;
  color: var(--white);
  font-weight: 700;
}

.hero h2{
  font-size: 1.375rem;
  color: var(--white);
  font-weight: 700;
}

@media(max-width: 400px){
  .hero h1{
    font-size: 1.375rem;
  }

  .hero h2{
    font-size: 0.875rem;
  }

  .primary-button{
    width: 119px;
  }
}